[defaults]
inventory = ./inventory.yml
roles_path = ./roles
host_key_checking = False
remote_user = ubuntu
private_key_file = ~/.ssh/multipass_id_rsa

log_path = ./ansible.log
stdout_callback = yaml
bin_ansible_callbacks = True
interpreter_python = auto

[ssh_connection]
# SSH connection optimizations
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
